@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin media-md {
  @media (min-width: 1100px) {
    @content;
  }
}
